:root {
    --primary: #021823;
    --secondary: #191919;
    --accent: #fff6c8;
    --accent-light: #faf7e8;
    --black: #030303;
}

.primary-bg {
    background-color: var(--primary);
}

.primary-text {
    color: var(--primary);
}

.primary-border {
    border-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

.secondary-text {
    color: var(--secondary);
}

.secondary-border {
    border-color: var(--secondary);
}

.accent-bg {
    background-color: var(--accent);
}

.accent-text {
    color: var(--accent);
}

.accent-border {
    border-color: var(--accent);
}

.accent-light-bg {
    background-color: var(--accent-light);
}

.accent-light-text {
    color: var(--accent-light);
}

.accent-light-border {
    border-color: var(--accent-light);
}

.black-bg {
    background-color: var(--black);
}

.black-text {
    color: var(--black);
}

.black-border {
    border-color: var(--black);
}

@font-face {
    font-family: "Wix Display";
    src: url('../fonts/WixMadeforDisplay.ttf');
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Wix Text";
    src: url('../fonts/WixMadeforText-VariableFont_wght.ttf');
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Wix Text Italic";
    src: url('../fonts/WixMadeforText-Italic-VariableFont_wght.ttf');
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik-VariableFont_wght.ttf');
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Rubik Italic";
    src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf');
    font-optical-sizing: auto;
}

.wix-display {
    font-family: 'Wix Display', sans-serif;
}

.wix-text {
    font-family: 'Wix Text', sans-serif;
}

.wix-text-italic {
    font-family: 'Wix Text Italic', sans-serif;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.rubik-italic {
    font-family: 'Rubik Italic', sans-serif;
}

.text-shadow {
    text-shadow: 0 0 3px #000;
}

.fs-18 {
    font-size: 18px !important;
}

.section-title {
    font-family: 'Wix Display', sans-serif;
    color: var(--accent-light);
    font-size: 45px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    text-align: center;
    text-transform: uppercase;
}

p {
    line-height: 1.8em;
}

section {
    overflow: hidden;
}

/* ! CONTAINER */

.container {
    max-width: 1360px !important;
}


/* ! HEADER */

.header {
    background-image: url('/Resources/media/cover_16_9.jpg');
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    max-height: 100vh;
}

.header-row {
    min-height: 45vh;
}


/* ! HEADER MOBILE */

.header-mobile {
    background-color: var(--primary);
}


/* ! NAVBAR */

.nav-link {
    font-weight: 600 !important;
    transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
    padding: 0px auto;
}

.nav-link:hover {
    color: var(--accent) !important;
}

.nav-icon {
    font-size: 20px;
    margin: auto;
}

.fa-soundcloud {
    padding-top: 6px;
}

.navbar-toggler {
    transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: none !important;
}

.toggler-icon {
    opacity: 1;
    transition: 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.opacity {
    opacity: 0;
}


/* !PORTFOLIO */

.portfolio {
    background-image: url('/Resources/media/mixerConsole.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#playTog {
    font-size: 3rem;
    margin-bottom: 6px;
}

.skipBtn {
    font-size: 1.55rem;
    margin-bottom: 3px;
}

#playVolR {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    color: var(--accent);
}

#playVolR::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: var(--accent);
  cursor: pointer; /* Cursor on hover */
}

#playVolR::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--accent);
  cursor: pointer;
}


/* !CREDITS */

.credits {
    min-height: 50vh;
    background-color: var(--secondary);
}

.credit-img {
    width: 100%;
}

.credits-role {
    font-size: calc(0.7em + 0.2vw);
}


/* !ABOUT */

.about {
    /* min-height: 75vh; */
    background-color: var(--primary);
}

.portrait {
    width: auto;
    max-width: 100%;
    max-height: 60vh;
}


/* !CONTACT */

.contact {
    min-height: 100vh;
    background-color: var(--secondary);
}

.contact-title {
    font-size: 30px;
}

.input {
    background-color: var(--black);
    color: white;
    border-radius: 0;
    border: 1px solid white;
    width: 100%;
    transition:0.2s;
}

.input:focus {
    box-shadow: 0px 0px 0px 1px white;
    outline: none;
}

.input-container:hover .input {
    box-shadow: 0px 0px 0px 1px white;
}

.sendButton {
    background-color: var(--black) !important;
    border-radius: 0 !important;
    border: 2px solid white !important;
    width: 100% !important;
    position: relative;
    z-index: 1;
    padding: 0 !important;
}

.sendButton p {
    color: white;
    transition: color;
    transition-delay: 0.15s;
    margin: 0;
    padding: 8px;
}

.sendButton::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1);
    will-change: transform;
}

.sendButton:hover::before {
    transform: scaleX(100%);
}

.sendButton:hover p {
    color: var(--black);
}

form {
    width: 100%;
}

/* ! MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    form {
        width: 75%;
    }
    
    .contact {
        min-height: 75vh;
    }
    
    .contact-title {
        font-size: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .header {
        min-height: 75vh;
    }
    
    .header-row {
        min-height: 75vh;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header {
        min-height: 100vh;
    }
    
    .header-row {
        min-height: 100vh;
    }
    
    .nav-link {
        margin: auto;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}